@charset "utf-8";

:root {
    --app-border-raidus: 5px;
    --app-grey-bg: #f3f4f5;
    --app-bg-dark: #1a1c24;
}

.container {
    width: min(100% - 30px, 1200px);
    margin-inline: auto;
}

body {
    background-color: var(--app-bg-dark);
    font-family: 'Titillium Web', sans-serif;
}

/*-----------------------------------------------------*/
/* Input                                               */
/*-----------------------------------------------------*/

h1 {
    margin-top: 200px;
    text-align: center;
    font-size: 3rem;
    letter-spacing: 0.2rem;
    color: #fff;
}

.search {
    display: grid;
    text-align: center;
}

input[type=text] {
    margin-top: 10px;
    width: 250px;
    height: 42px;
    padding-left: 15px;
    border-radius: var(--app-border-raidus);
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    color: #000;
}

input[type=submit] {
    position: relative;
    bottom: 1px;
}

input[type=submit] {
    margin-top: 15px;
    padding: 0 15px;
    margin-left: 15px;
    height: 43px;
    border-radius: var(--app-border-raidus);
    background-color: #e69500;
    font-size: 1.75rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}