@charset "utf-8";

:root {
    --app-border-raidus: 5px;
    --app-grey-bg: #c1c3c5;
    --app-bg-dark: #1a1c24;
}

.container {
    width: min(100% - 30px, 1200px);
    margin-inline: auto;
}

body {
    background-color: #d8d8d8;
    font-family: 'Titillium Web', sans-serif;
}

/*-----------------------------------------------------*/
/* Input                                               */
/*-----------------------------------------------------*/

h1 {
    margin-top: 200px;
    text-align: center;
    font-size: 4rem;
    letter-spacing: 0.2rem;
    color: #000;
}

.search {
    display: grid;
    text-align: center;
}

input[type=text] {
    margin-top: 40px;
    width: 250px;
    height: 42px;
    padding-left: 15px;
    border-radius: var(--app-border-raidus);
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    background-color: rgb(0 0 0 / 0.1);
    color: #000;
}

button, input[type=submit] {
    position: relative;
    bottom: 1px;
}

button,input[type=submit] {
    margin-top: 15px;
    padding: 0 15px;
    margin-left: 15px;
    height: 43px;
    border-radius: var(--app-border-raidus);
    background-color: #a700a7;
    font-size: 1.75rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}

/*-----------------------------------------------------*/
/* Repositories                                        */
/*-----------------------------------------------------*/

.info {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.repos {
    margin: 0;
    position: absolute;
    top: 55%;
    left: 23%;
    text-align: left;
}

img {
    margin: auto;
    width: 125px;
    height: 125px;
    border-radius: 50%;
}

.info h1 {
    margin-top: 10px;
    font-weight: 500;
}

span {
    display: inline-block;
    text-align: center;
    width: 100px;
    color: #008000;
    font-weight: 600;
    font-size: 1.75rem;
}

.p {
    display: flex;
    text-align: center;
}

.info p {
    width: 100px;
    color: #000;
}

button {
    width: 200px;
    border-radius: 50px;
    left: 33px;
}

.link {
    color: #fff;
    text-decoration: none;
}


.repo {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 20px;
    background-color: var(--app-grey-bg);
    width: 800px;
    height: 80px;
    border-radius: 8px;
}
  
.last-updated {
    color: #666;
}

h2 {
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 2.5rem;
    font-weight: 600;
}

h3 {
    color:#008000;
}